#ProjectChatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

.Project {
  display: flex;
  flex-flow: column;
}

.ProjectHead {
  display: flex;
  flex-flow: column;
  margin: 10px;
  border: 1px solid;
}

.TaskGroupList {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  flex-flow: row;
}

.TaskGroup {
  display: flex;
  margin: 10px;
  width: 25%;
  flex-flow: column;
}

.TaskGroupHead {
display: flex;
border: 1px solid;
margin: 10px;
padding: 10px;
flex-flow: column;
}

.TaskList {
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.RemoveTaskGroup {
display: flex;
justify-content: flex-end;
width: 100%;
}

.Task {
  display: flex;
  flex-flow: column;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  /*background-color: aqua; */
}

.Task .Header {
  display: flex;
  flex-flow: column;
}

.Task .Header .ShowDetails {
  display: flex;
  flex-flow: row-reverse;
  padding-right: 15px;
}

.Task .Header .Title {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

/* .Task .Header .Title:hover {
  border: 1px solid;
} */

.Task .Header .Title .Input {
  border: none;
  width: 100%;
  font-size: medium;
}

.Task .Header .OwnerList {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.Task .Header .Owner {
  margin: 5px;
}

.Task .Header .Owner .Image {
  transition: 0.5s ease;
  height: 30px;
  width: 30px;
}

.Task .Header .Owner:hover .Image {
  opacity: 0.5;
}

.Task .Header .Overview {
  display: flex;
  flex-flow: row;
  margin: 15px;
}

.Task .Header .Overview .DueDate {
  display: flex;
  flex-basis: 20%;
  justify-content: flex-start;
}

.Task .Header .Overview .Progress {
  display: flex;
  flex-basis: 60%;
  justify-content: center;
}

.Task .Header .Overview .Remove {
  display: flex;
  justify-content: flex-end;
  flex-basis: 30%
}

.Task .Body {
  display: none;
  z-index: 1; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: rgb(255,255,255); 
  position: absolute;
  left: 30%;
  top: 30%;
  flex-flow: column;
  height: 60%;
  width: 40%;
  animation-duration: 0.1s;
}

.Task .Body .Close {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.Task .Body .Close .CloseButton {
  outline: none;
}

.Task .Body .Description {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.Task .Body .Description .DescEditor {
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
}

.Task .Body .Description .ql-toolbar {
  display: none;
}

.Task .Body .Todo {
  display: none;
}

.Task .Body .TaskChat {
  display: none;
}

.AddTask {
display: flex;
justify-content: center;
width: 100%;
}

.RemoveTask {
display: flex;
justify-content: flex-end;
width: 100%;
}

.TaskGroupTitleInput {
width: 100%;
margin: 10px;
}

.Title {
display: flex;
}

.TaskTitleInput {
width: 100%;
margin: 10px;
}

.MemberList {
display: flex;
flex-flow: row;
width: 200px;
height: 40px;
}

.Member {
width: 40px;
height: 40px;
}

.ProjectMemberImage {
width: 40px;
height: 40px;
}

.Task {
display: flex;
flex-flow: column;
}

.TaskOwnerList {
display: flex;
flex-flow: row;
height: 60px;
width: 200px;
}

.TaskOwner {
display: flex;
flex-flow: row;
}

.TaskOwnerImage {
width: 30px;
height: 30px;
}

.Login {
display: flex;
flex-flow: row;
}

#UserImage {
width: 40px;
height: 40px;
}

.CheckList {
display: flex;
flex-flow: column;
margin: 10px;
border: 1px solid;
}

.ItemList {
display: flex;
flex-flow: column;
margin: 5px;
}

.Item {
display: flex;
flex-flow: row;
margin: 5px;
justify-content: flex-start
}

.ItemHead {
flex-basis: 0%
}

.ItemStatus {
flex-basis: 10%
}

.ItemDescription {
flex-basis: 30%
}

.RemoveItem {
flex-basis: 10%;
}
/*
.ProjectChat {
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
flex-flow: column;
width: 50%;
}

.CloseProjectChat {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.CloseProjectChat:hover,
.CloseProjectChat:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
*/

.ProjectChat {
  z-index: 1; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: rgb(255,255,255); 
  display: none;
  position: fixed;
  bottom: 50px;
  right: 70px;
  flex-flow: column;
  height: 90%;
  width: 30%;
  resize: both;
  animation-duration: 0.1s;
}

.ProjectChat .MessageList {
  display: flex;
  width: 100%;
  flex-flow: column;
  height: 78%;
  overflow: scroll;
}

.ProjectChat .Input {
  justify-content: center;
  display: flex;
  flex-flow: column;
  margin: 15px;
  padding-top: 30px;
  height: 10%;
}

.ProjectChat .Input .Send {
  display: flex;
  flex-flow: row;
  margin: 5px;
  justify-content: flex-end;
}

.TaskChat {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.TaskChat .MessageList {
  display: flex;
  width: 100%;
  flex-flow: column;
  height: 78%;
  overflow: scroll;
}

.TaskChat .Input {
  justify-content: center;
  display: flex;
  flex-flow: column;
  margin: 15px;
  padding-top: 30px;
  height: 10%;
}

.MessageInput .InputText {
  width: 60%;
  justify-content: flex-start;
}

.MessageInput .SendButton {
  display: flex;
  width: 20%;
  justify-content: flex-end;
}

.ChatMessage {
  margin: 10px;
  display: flex;
  flex-flow: row; 
  justify-content: flex-start
}

.MyChatMessage {
  margin: 10px;
  display: flex;
  flex-flow: row-reverse; 
  justify-content: flex-start;
}

.ChatMessage {
  margin: 10px;
  display: flex;
  flex-flow: row; 
  justify-content: flex-start;
}

.PosterImage {
  width: 30px;
  height: 30px;
}

.MyChatMessage .Container {
  display: flex;
  flex-flow: column;
  margin-right: 10px;
}

.ChatMessage .Container {
  display: flex;
  flex-flow: column;
  margin-left: 10px;
}

.MyChatMessage .Container .Header {
  display: flex;
  flex-flow: row-reverse; 
}

.ChatMessage .Container .Header {
  display: flex;
  flex-flow: row; 
}

.MyChatMessage .Container .Header .PosterName {
  margin-left: 1em;
  font-weight: bold;
}

.ChatMessage .Container .Header .PosterName {
  margin-right: 1em;
  font-weight: bold;
}

.Container .Header .PostTime {
  padding-top: 2px;
  font-size: small;
}

.ChatMessage .Container .MessageBody {
  display: flex;
  flex-flow: column; 
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: lightskyblue;
  word-wrap: break-word;
}

.MyChatMessage .Container .MessageBody {
  display: flex;
  flex-flow: column; 
  margin-top: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  padding-left: 10px;
}

.Container .MessageBody .Message {
  word-wrap: break-word;
}

/*
.ItemDescription {
display: flex;
flex-flow: row;
width: 200px;
height: 40px;
}
*/
/*
.ItemStatus {
display: flex;
flex-flow: row;
width: 40px;
height: 40px;
}
*/
