.ProjectChatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

.Project {
  display: flex;
  flex-flow: column;
}

.ProjectHead {
  display: flex;
  flex-flow: column;
  margin: 10px;
  border: 1px solid;
}

.TaskGroupList {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  flex-flow: row;
}

.TaskGroup {
  display: flex;
  margin: 10px;
  width: 25%;
  flex-flow: column;
}

.TaskGroup .TaskGroupContainer {
  display: flex;
  flex-flow: row;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-bottom: 15px;
  justify-content: space-evenly;
  padding: 10px;
}

.TaskGroup .TaskGroupContainer .DragTaskGroup {
  cursor: -webkit-grabbing;
}

.TaskGroup .TaskGroupContainer .Input {
  align-self: center;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

.TaskGroup .TaskGroupContainer .Remove {
  align-self: flex-end;
  border: none;
  align-self: center;
}

.TaskGroup .TaskGroupContainer .RemoveTaskGroup {
  align-self: flex-end;
}

.TaskGroup .AddTask {
  align-self: center;
}

.TaskList {
  display: flex;
  flex-flow: column;
  align-self: center;
}

.Task {
  display: flex;
  flex-flow: column;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  border: none;
  /*background-color: aqua; */
}

.Task .Header {
  display: flex;
  flex-flow: column;
  border: none;
}

.Task .Header .TopContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.Task .Header .TopContainer .DragTask{
  cursor: -webkit-grabbing;
}

.Task .Header .TopContainer .ShowDetails {
  align-self: flex-start;
  display: flex;
  flex-flow: row-reverse;
  padding-right: 16px;
}

.Task .Header .Title {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

/* .Task .Header .Title:hover {
  border: 1px solid;
} */

.Task .Header .Title .Input {
  border: none;
  width: 100%;
  font-size: medium;
}

.Task .Header .OwnerSection {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30px;
  padding-left: 20px;
}

.Task .Header .OwnerPlaceholder {
  padding-top: 7px;
}

.Task .Header .OwnerList {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.Task .Header .Owner {
  margin: 5px;
}

.Task .Header .Owner .Image {
  transition: 0.5s ease;
  height: 30px;
  width: 30px;
}

.Task .Header .Owner:hover .Image {
  opacity: 0.5;
}

.Task .Header .Overview {
  display: flex;
  flex-flow: row;
  margin: 15px;
  flex-basis: 100%;
}

.Task .Header .Overview .DueDateContainer {
  margin-left: 5px;
  display: flex;
  flex-flow: row;
  flex-basis: 30%;
  align-self: center;
}

.Task .Header .Overview .Progress {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-self: center;
}

.Task .Header .Overview .Remove {
  display: flex;
  justify-content: flex-end;
  flex-basis: 30%;
  align-self: center;
}

.Task .Header .Overview .DueDateContainer .DueDateSelector {
}

.Task .Header .Overview .DueDateContainer .DueDate {
  display: flex;
  margin-top: 2px;
  cursor: pointer;
  border: none;
  outline: none;
}

.Task .Header .Overview .Progress .ProgressSection {
  display: flex;
  flex-flow: row;
  margin-top: 4px;
}

.Task .Header .Overview .Progress .Completed {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  border: none;
  outline: none;
}

.Task .Header .Overview .Progress .Total {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  border: none;
  outline: none;
}


.Task .Body {
  display: none;
  z-index: 1; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: rgb(255,255,255); 
  position: fixed;
  left: 30%;
  top: 30%;
  flex-flow: column;
  height: 60%;
  width: 40%;
  animation-duration: 0.2s;
}

.Task .Body .Close {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.Task .Body .Tab {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  border-bottom: solid 1px lightgrey;
  align-items: center;
  padding-bottom: 5px;
}

.Task .Body .Close .CloseButton {
  outline: none;
}

.Task .Body .Description {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.Task .Body .Description .DescEditor {
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
}

/* .Task .Body .Description .ql-toolbar {
  display: none;
} */

.Task .Body .Todo {
  display: none;
  flex-flow: column;
  flex-basis: 100%;
  justify-content: space-between;
}

.Task .Body .Todo .AppendItem {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-basis: 10%;
}

.Task .Body .Todo .AppendItemButton:hover {
  opacity: 0.5;
}

.Task .Body .Todo .CheckList {
  padding-top: 15px;
  display: flex;
  flex-flow: column;
  flex-basis: 90%;
  overflow: auto;
}

.Task .Body .Todo .CheckList .ItemList {
  display: flex;
  flex-flow: column;
}

.Task .Body .Todo .CheckList .ItemList .Item {
  display: flex;
  flex-flow: row;
  margin: 5px;
  justify-content: space-between;
}

.Task .Body .Todo .CheckList .ItemList .Item .ItemHeader {
  width: 0%
}

.Task .Body .Todo .CheckList .ItemList .Item .ItemStatus {
  justify-content: flex-end;
  width: 3%
}

.Task .Body .Todo .CheckList .ItemList .Item .ItemDescription {
  width: 70%;
}

.Task .Body .Todo .CheckList .ItemList .Item .DescriptionInput {
  border: none;
  width: 100%;
}

.Task .Body .Todo .CheckList .ItemList .Item .RemoveItem {
  display: flex;
  justify-content: flex-start;
  width: 7%
}

.Task .Body .Todo .CheckList .ItemList .Item .RemoveItemButton {
  padding-top: 5px;
  width: 15px;
  height: 15px;
}

.Task .Body .TaskChat {
  display: none;
}

.AddTask {
display: flex;
justify-content: center;
width: 100%;
}

.RemoveTask {
display: flex;
justify-content: flex-end;
width: 100%;
}

.TaskGroupTitleInput {
width: 100%;
margin: 10px;
}

.Title {
display: flex;
}

.TaskTitleInput {
width: 100%;
margin: 10px;
}

.MemberList {
display: flex;
flex-flow: row;
width: 200px;
height: 40px;
}

.Member {
width: 40px;
height: 40px;
}

.ProjectMemberImage {
width: 40px;
height: 40px;
}

.Task {
display: flex;
flex-flow: column;
}

.TaskOwnerList {
display: flex;
flex-flow: row;
height: 60px;
width: 200px;
}

.TaskOwner {
display: flex;
flex-flow: row;
}

.TaskOwnerImage {
width: 30px;
height: 30px;
}

.Login {
display: flex;
flex-flow: row;
}

#UserImage {
width: 40px;
height: 40px;
}

.ProjectChat {
  z-index: 1; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: rgb(255,255,255); 
  display: none;
  position: fixed;
  bottom: 50px;
  right: 70px;
  flex-flow: column;
  height: 90%;
  width: 30%;
  resize: both;
  animation-duration: 0.3s;
}

/* .slideInRight {
  -webkit-animation-duration: 50ms;
  animation-duration: 50ms;
} */

.ProjectChat .MessageList {
  display: flex;
  width: 100%;
  flex-flow: column;
  flex-basis: 75%;
  overflow: auto;
}

.ProjectChat .Input {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex-basis: 20%;
}

.ProjectChat .Input .Message {
  margin: 5px;
  border: solid 1px lightgrey;
  flex-basis: 90%;
}

.ProjectChat .Input .Send {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-basis: 10%;
  padding-bottom: 2px;
}

.TaskChat {
  padding-top: 10px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.TaskChat .MessageList {
  display: flex;
  flex-flow: column;
  flex-basis: 75%;
  overflow: auto;
}

.TaskChat .Input {
  margin-top: 15px;
  justify-content: center;
  display: flex;
  flex-flow: column;
  flex-basis: 18%;
}

.TaskChat .Input .Message {
  border: solid 1px lightgrey;
}

.TaskChat .Input .Send {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.ChatMessage {
  margin: 10px;
  display: flex;
  flex-flow: row; 
  justify-content: flex-start
}

.MyChatMessage {
  margin: 10px;
  display: flex;
  flex-flow: row-reverse; 
  justify-content: flex-start;
}

.PosterImage {
  width: 30px;
  height: 30px;
}

.MyChatMessage .Container {
  display: flex;
  flex-flow: column;
  flex-grow: 0;
  margin-right: 10px;
  align-items: flex-end;
  margin-left: 10px;
}

.ChatMessage .Container {
  display: flex;
  flex-flow: column;
  margin-left: 10px;
  align-items: flex-start;
}

.MyChatMessage .Container .Header {
  display: flex;
  flex-flow: row-reverse; 
}

.ChatMessage .Container .Header {
  display: flex;
  flex-flow: row; 
}

.MyChatMessage .Container .Header .PosterName {
  margin-left: 1em;
  font-weight: bold;
}

.ChatMessage .Container .Header .PosterName {
  margin-right: 1em;
  font-weight: bold;
}

.MyChatMessage .Container .Header .PostTime {
  padding-top: 2px;
  font-size: small;
}

.ChatMessage .Container .MessageBody {
  display: flex;
  flex-flow: column; 
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: lightskyblue;
  word-wrap: break-word;
  align-items: flex-start;
}

.MyChatMessage .Container .MessageBody {
  display: flex;
  flex-flow: column; 
  margin-top: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  padding-left: 10px;
  padding-right: 10px;
  align-items: flex-start;
}

.MyChatMessage .Container .MessageBody .Message {
  word-wrap: break-word;
}

.ChatMessage .Container .MessageBody .Message {
  word-wrap: break-word;
}

.Icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: black;
  -webkit-mask-size: cover;
  background-color: lightgray;
}

.Icon:hover,
.Icon:focus {
  background: limegreen;
  cursor: pointer;
}

.IconDescription {
  -webkit-mask: url(../../../../images/description.svg);
  -webkit-mask-size: cover;
}

.IconTodo {
  -webkit-mask: url(../../../../images/todo.svg);
  -webkit-mask-size: cover;
}

.IconMessages {
  -webkit-mask: url(../../../../images/messages.svg);
  -webkit-mask-size: cover;
}

.IconClose {
  -webkit-mask: url(../../../../images/close.svg);
  -webkit-mask-size: cover;
  width: 20px;
  height: 20px;
}

.IconInfo {
  -webkit-mask: url(../../../../images/info.svg);
  width: 20px;
  height: 20px;
  -webkit-mask-size: cover;
}

.IconExpand {
  -webkit-mask: url(../../../../images/expand.svg);
  width: 20px;
  height: 20px;
  -webkit-mask-size: cover;
}

.IconDelete {
  -webkit-mask: url(../../../../images/delete.svg);
  width: 20px;
  height: 20px;
  -webkit-mask-size: cover;
}

.IconAdd {
  -webkit-mask: url(../../../../images/add.svg);
  width: 25px;
  height: 25px;
  -webkit-mask-size: cover;
}

.IconSend {
  -webkit-mask: url(../../../../images/send.svg);
  width: 25px;
  height: 25px;
  -webkit-mask-size: cover;
}

.IconGroup {
  -webkit-mask: url(../../../../images/group.svg);
  width: 25px;
  height: 25px;
  -webkit-mask-size: cover;
}

.IconCalendar {
  -webkit-mask: url(../../../../images/calendar.svg);
  width: 25px;
  height: 25px;
  -webkit-mask-size: cover;
}

.IconList {
  -webkit-mask: url(../../../../images/list.svg);
  width: 25px;
  height: 25px;
  -webkit-mask-size: cover;
}

.IconMessageBig {
  -webkit-mask: url(../../../../images/messages.svg);
  width: 40px;
  height: 40px;
  -webkit-mask-size: cover;
}

.IconCancel {
  -webkit-mask: url(../../../../images/cancel.svg);
  width: 40px;
  height: 40px;
  -webkit-mask-size: cover;
}

.IconDrag {
  -webkit-mask: url(../../../../images/drag.svg);
  width: 25px;
  height: 25px;
  -webkit-mask-size: cover;
}

.IconClose:hover,
.IconClose:focus,
.IconDelete:hover,
.IconDelete:focus,
.IconCancel:hover,
.IconCancel:focus 
{
  background: red;
}


